p::first-letter{
    font-size: larger;
    font-family: cursive;
}
p::first-line{
    color: coral;
}
h1::before{
    content: "Dwane Johnson";
    color: red;
}
h1::after{
    content: url(../Image/yin\ and\ yan.jpg);
}