#container{
    height: 1200px;
    width: 90%;
    background-color: green;
    margin: 0 auto;
} 
header{
    height: 300px;
    width: 100%;
    background-color: cadetblue;
}
nav{
    height: 50px;
    width: 100%;
    background-color: aquamarine;
}
.body{
    height: 700px;
    width: 100%;
    background-color: aqua;
}
footer{
    height: 150px;
    width: 100%;
    background-color: coral;
}